  <div class="mask-l" style="background-color: #fff; width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: 9999999;"></div> <!--removed by integration-->
  <header>
    <div class="container b-header__box b-relative">
      <a href="/" class="b-left b-logo "><img class="color-theme" data-retina src="img/conteudo.png" alt="Logo" /></a>
      <div class="b-header-r b-right b-header-r--icon">
        <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide"><i class="fa fa-align-justify"></i></div>
        <nav class="b-top-nav f-top-nav b-right j-top-nav">
          <ul class="b-top-nav__1level_wrap">
            <li class="b-top-nav__1level f-top-nav__1level is-active-top-nav__1level f-primary-b"><a href="#"><i class="fa fa-home b-menu-1level-ico"></i>Home<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
              <div class="b-top-nav__dropdomn">
                <ul class="b-top-nav__2level_wrap">
                  <li class="b-top-nav__2level_title f-top-nav__2level_title is-active-top-nav__2level-title">Lorem Ipsum</li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary is-active-top-nav__2level"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                </ul>
              </div>
            </li>
            <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
              <a href="page_search_result.html"><i class="fa fa-cloud-download b-menu-1level-ico"></i>Lorem Ipsum<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
              <div class="b-top-nav__dropdomn">
                <ul class="b-top-nav__2level_wrap">
                  <li class="b-top-nav__2level_title f-top-nav__2level_title">Lorem Ipsum</li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                </ul>
                <ul class="b-top-nav__2level_wrap">
                  <li class="b-top-nav__2level_title f-top-nav__2level_title">Lorem Ipsum</li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                </ul>
                <ul class="b-top-nav__2level_wrap">
                  <li class="b-top-nav__2level_title f-top-nav__2level_title">Lorem Ipsum</li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                </ul>
                <ul class="b-top-nav__2level_wrap">
                  <li class="b-top-nav__2level_title f-top-nav__2level_title">Lorem Ipsum</li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                </ul>
                <ul class="b-top-nav__2level_wrap">
                  <li class="b-top-nav__2level_title f-top-nav__2level_title">Lorem Ipsum</li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                  <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="#"><i class="fa fa-angle-right"></i>Lorem Ipsum</a></li>
                </ul>
              </div>
            </li>
          </ul>

        </nav>
      </div>
    </div>
  </header>
  <div class="j-menu-container"></div>


  <div class="l-main-container">
    <div class="b-slidercontainer b-slider">
      <div class="j-fullscreenslider j-arr-hide">
        <ul>
          <li data-transition="fade" data-slotamount="10" >
            <div class="tp-bannertimer"></div>
            <img data-retina src="img/slider/section-bg-3.jpg">
            <div class="caption lft caption-left"  data-x="left" data-y="150" data-hoffset="60" data-speed="700" data-start="2000">
              <div class="b-slider-lg-info-l__item-title f-slider-lg-info-l__item-title b-slider-lg-info-l__item-title-tertiary">
                <h2 class="f-primary-l">EDUARDO LUIZ SANTOS CABETTE</h2>
                <h1 class="f-primary-b">Breves anotações atécnicas à nota "atécnica" 7ª</h1>
              </div>
            </div>
            <div class="caption lfl caption-left"  data-x="left" data-y="270" data-speed="1000" data-start="2600">
              <div class="b-slider-lg-info-l__item-link f-slider-lg-info-l__item-link">
                <a href="#" class="b-slider-lg-info-l__item-anchor f-slider-lg-info-l__item-anchor f-primary-b">Colunista da Semana</a>
                <span class="b-slider-lg-info-l__item-link-after"><i class="fa fa-chevron-right"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <section class="b-infoblock b-desc-section-container">
      <div class="container">
       <div class="row">
        <div class="col-sm-6">
          <h2 class="f-center f-primary-b">Artigos</h2>
          <div class="b-infoblock-with-icon b-blog-listing__infoblock">
            <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
              <a href="blog_detail_left_slidebar.html" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
                29/11/2014 - Ângela Onzi Rizzi
              </a>
              <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
               Surgimento das Agências Reguladoras no Brasil
             </div>
             <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
              <a href="blog_detail_left_slidebar.html" class="f-more f-primary-b">Leia Mais</a>
            </div>
          </div>
        </div>
        <div class="b-infoblock-with-icon b-blog-listing__infoblock">
          <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
            <a href="blog_detail_left_slidebar.html" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
              29/11/2014 - Barbara Tuyama Sollero
            </a>
            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
              Da inconstitucionalidade da concessão do adiconal de 25% previsto no art. 45 da Lei 8.213/91 a benefícios distintos da aposentadoria por invalidez
            </div>
            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
              <a href="blog_detail_left_slidebar.html" class="f-more f-primary-b">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h2 class="f-center f-primary-b">Jurisprudências</h2>
        <div class="b-infoblock-with-icon b-blog-listing__infoblock">
          <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
            <a href="blog_detail_left_slidebar.html" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
              Mauris ac risus neque, ut pulvinar risus
            </a>
            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
             Decisão com tutela antecipada, reconhecendo a omissão inconstitucional do art. 37, X, da CF/88, concedendo o reajuste do subsídio mensal de Policial Federal com a revisão da sua remuneração através da variação do INPC, num percentual de 21,17%
           </div>
           <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
            <a href="blog_detail_left_slidebar.html" class="f-more f-primary-b">Leia Mais</a>
          </div>
        </div>
      </div>
      <div class="b-infoblock-with-icon b-blog-listing__infoblock">
        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
          <a href="blog_detail_left_slidebar.html" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
            STJ. Processo Civil. A petição inicial não pode ser emendada depois de apresentada a contestação
          </a>
          <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
           STJ. Processo Civil. A petição inicial não pode ser emendada depois de apresentada a contestação
         </div>
         <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
          <a href="blog_detail_left_slidebar.html" class="f-more f-primary-b">Leia Mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<section>
  <div class="container">
    <div class="b-carousel-secondary f-carousel-secondary b-some-examples-tertiary f-some-examples-tertiary b-carousel-reset">
      <div class="b-carousel-title f-carousel-title f-primary-b">Colunistas</div>
      <div class="b-some-examples f-some-examples j-carousel-secondary">
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="b-employee-item b-employee-item--color f-employee-item">
          <div class=" view view-sixth">
            <a href="#"><img   data-retina src="img/users/user1.jpg" alt=""/></a>
            <div class="b-item-hover-action f-center mask">
              <div class="b-item-hover-action__inner">
                <div class="b-item-hover-action__inner-btn_group">
                  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4 class="f-primary-b">Lorem Ipsum</h4>
          <div class="b-employee-item__position f-employee-item__position">Lorem Ipsum</div>
          <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
          <div class="b-employee-item__social">
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="b-employee-item b-employee-item--color f-employee-item">
          <div class=" view view-sixth">
            <a href="#"><img   data-retina src="img/users/user2.jpg" alt=""/></a>
            <div class="b-item-hover-action f-center mask">
              <div class="b-item-hover-action__inner">
                <div class="b-item-hover-action__inner-btn_group">
                  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4 class="f-primary-b">Lorem Ipsum</h4>
          <div class="b-employee-item__position f-employee-item__position">Lorem Ipsum</div>
          <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
          <div class="b-employee-item__social">
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="b-employee-item b-employee-item--color f-employee-item">
          <div class=" view view-sixth">
            <a href="#"><img   data-retina src="img/users/user3.jpg" alt=""/></a>
            <div class="b-item-hover-action f-center mask">
              <div class="b-item-hover-action__inner">
                <div class="b-item-hover-action__inner-btn_group">
                  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4 class="f-primary-b">Lorem Ipsum</h4>
          <div class="b-employee-item__position f-employee-item__position">Lorem Ipsum</div>
          <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
          <div class="b-employee-item__social">
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm">
        <div class="b-employee-item b-employee-item--color f-employee-item">
          <div class=" view view-sixth">
            <a href="#"><img   data-retina src="img/users/user4.jpg" alt=""/></a>
            <div class="b-item-hover-action f-center mask">
              <div class="b-item-hover-action__inner">
                <div class="b-item-hover-action__inner-btn_group">
                  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <h4 class="f-primary-b">Lorem Ipsum</h4>
          <div class="b-employee-item__position f-employee-item__position">Lorem Ipsum</div>
          <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
          <div class="b-employee-item__social">
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</section>
<section class="b-infoblock--small">
  <div class="container">
    <div class="row b-col-default-indent">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="f-primary-l f-center c-default">Nosso preço</h2>
        <p class="f-primary-l f-center">Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat nunc at augue tincidunt vehicula. Donec viverra semper arcu ut blandit. Suspendisse ac tempus diam. Duis dignissim lacinia sapien in tempor.</p>
      </div>
    </div>
    <div class="b-shortcode-example b-null-bottom-indent">
      <div class="b-pricing-info__container f-center">
        <div class="b-pricing-info__item f-pricing-info__item col-sm-6 col-md-3 col-xs-12">
          <div class="b-pricing-info__item-row b-pricing-info__item-title">
            <h4 class="f-primary-b">Básico</h4>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-price">
            <h2 class="f-primary-b">Gratuito</h2>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsumt</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-btn-row">
            <a class="b-btn f-btn b-btn-sm f-primary-b">Assinar</a>
          </div>
        </div>
        <div class="b-pricing-info__item f-pricing-info__item col-sm-6 col-md-3 col-xs-12">
          <div class="b-pricing-info__item-row b-pricing-info__item-title">
            <h4 class="f-primary-b">Plano Prata</h4>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-price">
            <h2 class="f-primary-b">R$ 2 / <small class="f-primary">mês</small></h2>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsumt</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-btn-row">
            <a class="b-btn f-btn b-btn-sm f-primary-b">Assinar</a>
          </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="b-pricing-info__item f-pricing-info__item col-sm-6 col-md-3 col-xs-12">
          <div class="b-pricing-info__item-row b-pricing-info__item-title">
            <h4 class="f-primary-b">Plano Ouro</h4>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-price">
            <h2 class="f-primary-b">R$10 / <small class="f-primary">mês</small></h2>
          </div>

          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsumt</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-btn-row">
            <a class="b-btn f-btn b-btn-sm f-primary-b">Assinar</a>
          </div>
        </div>
        <div class="b-pricing-info__item f-pricing-info__item col-sm-6 col-md-3 col-xs-12">
          <div class="b-pricing-info__item-row b-pricing-info__item-title">
            <h4 class="f-primary-b">Plano Diamante</h4>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-price">
            <h2 class="f-primary-b">R$39 / <small class="f-primary">mês</small></h2>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsumt</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row">
            <p>Lorem Ipsum</p>
          </div>
          <div class="b-pricing-info__item-row b-pricing-info__item-btn-row">
            <a class="b-btn f-btn b-btn-sm f-primary-b">Assinar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="b-infoblock b-desc-section-container">
  <div class="container">
    <h2 class="f-center f-primary-l">Nossas<strong class="f-primary-b"> Notícias</strong></h2>

    <p class="b-infoblock-description f-desc-section f-center f-employee__desc f-small f-primary-l">Reprehendunt in, quo ea esse civibus suavitate. Pro gubergren persecuti moderatius, id laudem vix, an eos. Adversarium principes.</p>

    <div class="b-carousel-primary">
      <div class="j-carousel-primary">
        <div class="b-carousel-primary__item">
          <div class="b-news-item f-news-item">
            <div class="hidden-xs b-news-item__img view view-sixth">
              <img data-retina="" src="img/homepage/news_1.png" alt="">
              <div class="b-item-hover-action f-center mask">
                <div class="b-item-hover-action__inner">
                  <div class="b-item-hover-action__inner-btn_group">
                    <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-news-item__info">
              <div class="b-news-item__info_title f-news-item__info_title f-primary-b">Vestibulum accumsan</div>
              <div class="b-news-item__info_additional">
                <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                  <i class="fa fa-calendar-o"></i> 22 de Janeiro
                </span>
                <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                  <i class="fa fa-comments"></i> 2 comentários
                </span>
              </div>
              <div class="b-news-item__info_text f-news-item__info_text">
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              </div>
              <a class="f-news-item__info_more f-more f-secondary-b" href="#">Leia Mais <i class="fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="b-carousel-primary__item">
          <div class="b-news-item f-news-item">
            <div class="hidden-xs b-news-item__img view view-sixth">
              <img data-retina="" src="img/homepage/news_1.png" alt="">
              <div class="b-item-hover-action f-center mask">
                <div class="b-item-hover-action__inner">
                  <div class="b-item-hover-action__inner-btn_group">
                    <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-news-item__info">
              <div class="b-news-item__info_title f-news-item__info_title f-primary-b">Vestibulum accumsan</div>
              <div class="b-news-item__info_additional">
                <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                  <i class="fa fa-calendar-o"></i> 22 de Janeiro
                </span>
                <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                  <i class="fa fa-comments"></i> 2 comentários
                </span>
              </div>
              <div class="b-news-item__info_text f-news-item__info_text">
                Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                nulla sed augueuisque aenean
              </div>
              <a class="f-news-item__info_more f-more f-secondary-b" href="#">Leia Mais <i
                class="fa fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="b-carousel-primary__item">
            <div class="b-news-item f-news-item">
              <div class="hidden-xs b-news-item__img view view-sixth">
                <img data-retina="" src="img/homepage/news_1.png" alt="">
                <div class="b-item-hover-action f-center mask">
                  <div class="b-item-hover-action__inner">
                    <div class="b-item-hover-action__inner-btn_group">
                      <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-news-item__info">
                <div class="b-news-item__info_title f-news-item__info_title f-primary-b">Vestibulum accumsan</div>
                <div class="b-news-item__info_additional">
                  <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                    <i class="fa fa-calendar-o"></i> 22 de Janeiro
                  </span>
                  <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                    <i class="fa fa-comments"></i> 2 comentários
                  </span>
                </div>
                <div class="b-news-item__info_text f-news-item__info_text">
                  Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                  nulla sed augueuisque aenean
                </div>
                <a class="f-news-item__info_more f-more f-secondary-b" href="#">Leia Mais <i
                  class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="b-carousel-primary__item">
              <div class="b-news-item f-news-item">
                <div class="hidden-xs b-news-item__img view view-sixth">
                  <img data-retina="" src="img/homepage/news_2.png" alt="">
                  <div class="b-item-hover-action f-center mask">
                    <div class="b-item-hover-action__inner">
                      <div class="b-item-hover-action__inner-btn_group">
                        <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-news-item__info">
                  <div class="b-news-item__info_title f-news-item__info_title f-primary-b">Vestibulum accumsan</div>
                  <div class="b-news-item__info_additional">
                    <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                      <i class="fa fa-calendar-o"></i> 22 de Janeiro
                    </span>
                    <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                      <i class="fa fa-comments"></i> 2 comentários
                    </span>
                  </div>
                  <div class="b-news-item__info_text f-news-item__info_text">
                    Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                    nulla sed augueuisque aenean
                  </div>
                  <a class="f-news-item__info_more f-more f-secondary-b" href="#">Leia Mais <i
                    class="fa fa-chevron-circle-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="b-carousel-primary__item">
                <div class="b-news-item f-news-item">
                  <div class="hidden-xs b-news-item__img view view-sixth">
                    <img data-retina="" src="img/homepage/news_1.png" alt="">
                    <div class="b-item-hover-action f-center mask">
                      <div class="b-item-hover-action__inner">
                        <div class="b-item-hover-action__inner-btn_group">
                          <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="b-news-item__info">
                    <div class="b-news-item__info_title f-news-item__info_title f-primary-b">Vestibulum accumsan</div>
                    <div class="b-news-item__info_additional">
                      <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                        <i class="fa fa-calendar-o"></i> 22 de Janeiro
                      </span>
                      <span class="f-news-item__info_additional_item b-news-item__info_additional_item">
                        <i class="fa fa-comments"></i> 2 comentários
                      </span>
                    </div>
                    <div class="b-news-item__info_text f-news-item__info_text">
                      Vestibulum accumsan habitasse dictum id ut Curabitur amet libero mauris condimentum. Ut in lobortis
                      nulla sed augueuisque aenean
                    </div>
                    <a class="f-news-item__info_more f-more f-secondary-b" href="#">Leia Mais <i
                      class="fa fa-chevron-circle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="b-infoblock b-diagonal-line-bg-light">
          <div class="container">
            <h2 class="f-center f-primary-b">O que dizem nossos assinantes ?</h2>
            <p class="b-infoblock-description f-desc-section f-center f-employee__desc f-small f-primary-l">Etiam consectetur pellentesque justo. Sed tristique bibendum elit non molestie. Donec et libero rutrum</p>
            <div class="row" data-animate-group-wrap>
              <div class="col-sm-6 col-xs-12">
                <div class="b-mention-item">
                  <div class="b-mention-item__user f-center">
                    <div class="b-mention-item__user_img">
                      <img data-retina class="fade-in-animate" data-animate-group="2" src="img/users/user_md.png" alt="">
                    </div>
                    <div class="b-mention-item__user_info f-mention-item__user_info">
                      <div class="f-mention-item__user_name f-primary-b">KIYOSHI HARADA</div>
                      <div class="f-mention-item__user_position">Advogado</div>
                    </div>
                  </div>
                  <div class="b-remaining">
                    <div class="b-mention-item__comment">
                      <div class="b-mention-item__comment_text f-mention-item__comment_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor orbi sagittis, sem quis. Nunc eget magna mattis, scelerisque nisi non<br/>
                        <a href="http://google.com" target="_blank" class="f-primary-it f-more">http://google.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="b-mention-item">
                  <div class="b-mention-item__user f-center">
                    <div class="b-mention-item__user_img">
                      <img data-retina class="fade-in-animate" data-animate-group="2" src="img/users/user_md_2.png" alt="">
                    </div>
                    <div class="b-mention-item__user_info f-mention-item__user_info">
                      <div class="f-mention-item__user_name f-primary-b">LUIZ GOMES</div>
                      <div class="f-mention-item__user_position">Jurista e professor</div>
                    </div>
                  </div>
                  <div class="b-remaining">
                    <div class="b-mention-item__comment">
                      <div class="b-mention-item__comment_text f-mention-item__comment_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor orbi sagittis, sem quis. Nunc eget magna mattis<br/>
                        <a href="http://apple.com" target="_blank" class="f-primary-it f-more">http://apple.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="b-carousel-reset b-carousel-arr-out b-carousel-small-arr f-carousel-small-arr b-remaining">
            <div class="f-center b-logo-group j-logo-slider">
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-1.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-1h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-2.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-2h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-3.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-3h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-4.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-4h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-5.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-5h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-3.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-3h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-4.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-4h.png" alt=""/>
              </a></div>
              <div class="b-logo-item"><a href="#">
                <img class="is-normal" src="img/slider/partner/client-logo-5.png" alt=""/>
                <img class="is-hover" src="img/slider/partner/client-logo-5h.png" alt=""/>
              </a></div>

            </div>
          </div>
        </section>
      </div>

      <footer>
        <div class="b-footer-primary">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright © 2014 - Todos os direitos Reservados</div>
              <div class="col-sm-8 col-xs-12">
                <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">
                  <i class="fa fa-chevron-up"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="b-footer-secondary row">
            <div class="col-md-3 col-sm-12 col-xs-12 f-center b-footer-logo-containter">
              <a href=""><img data-retina class="b-footer-logo color-theme" src="" alt="Logo"/></a>
              <div class="b-footer-logo-text f-footer-logo-text">
                <p>Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.</p>
                <div class="b-btn-group-hor f-btn-group-hor">
                  <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                    <i class="fa fa-behance"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <h4 class="f-primary-b">Últimas Notícias</h4>
              <div class="b-blog-short-post row">
                <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                  <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                    <a href="blog_detail_left_slidebar.html">Lorem ipsum dolor sit amet</a>
                  </div>
                  <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                    Março 23, 2013
                  </div>
                </div>
                <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                  <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                    <a href="blog_detail_left_slidebar.html">Lorem ipsum dolor sit amet</a>
                  </div>
                  <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                    Março 23, 2013
                  </div>
                </div>
                <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                  <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                    <a href="blog_detail_left_slidebar.html">Lorem ipsum dolor sit amet</a>
                  </div>
                  <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                    Março 23, 2013
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <h4 class="f-primary-b">Contato</h4>
              <div class="b-contacts-short-item-group">
                <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                  <div class="b-contacts-short-item__icon f-contacts-short-item__icon f-contacts-short-item__icon_lg b-left">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <div class="b-remaining f-contacts-short-item__text">
                    Geek Ninjas<br/>
                    1234 Cidade, Estado,<br/>
                    Brasil.<br/>
                  </div>
                </div>
                <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                  <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_md">
                    <i class="fa fa-skype"></i>
                  </div>
                  <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_phone">
                    Skype: geekninjas.com
                  </div>
                </div>
                <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                  <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_xs">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_email">
                    <a href="mailto:frexystudio@gmail.com">lorem@ipsum.com</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
              <h4 class="f-primary-b">Quem ja Curtiu</h4>
              <div class="b-short-photo-items-group">
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_1.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_99.jpg" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_1.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_1.png" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_2.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_2.png" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_3.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_3.png" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_5.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_5.png" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_7.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_7.png" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_9.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_9.png" alt=""/></a>
                </div>
                <div class="b-column">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_11.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_11.png" alt=""/></a>
                </div>
                <div class="b-column hidden-xs">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_12.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_13.png" alt=""/></a>
                </div>
                <div class="b-column hidden-sm hidden-xs">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_16.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_16.png" alt=""/></a>
                </div>
                <div class="b-column hidden-sm hidden-xs">
                  <a class="b-short-photo-item fancybox" href="img/gallery/gallery_34.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_34.png" alt=""/></a>
                </div>
                <div class="b-column hidden-sm hidden-xs">
                  <a class="b-short-photo-item fancybox" href="img/gallery/sm/gallery_38.png" title="photo stream" rel="footer-group"><img data-retina src="img/gallery/sm/gallery_38.png" alt=""/></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>